*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html{
    background-attachment: fixed;
    background-image: url(../images/backgroundimg.jpg);
}
body{
    background-image: url(../images/backgroundimg.jpg);
    font-family: 'Lobster Two', cursive;
}
header{
    background-color: pink;
    padding: 30px 0;
    background-image: linear-gradient(to right, pink , lightcyan);
}
header h2{
    font-size: 220%;
    margin-top: 30px;
    text-shadow: 3px  3px lightcyan;
}
#logoimg{
    max-width: 100px;
    width: 100%;
    float: left;
    border: 1px;
    margin-left: 1em;
    margin-top: 1em;
}
#nav_list{
    width: 15%;
    float: left;
    margin: 3em 0 0 3em;
    position: sticky;
    top: 150px;
}
#nav_list ul{
    list-style: none;
}
#nav_list ul li{
    background-color: cornsilk;
    margin-bottom: 7px;
    border: 3px ridge whitesmoke;
    border-radius: 15px;
    margin-left: 0;
    margin-right: .5em;
    transition: all .5s;
}
#nav_list ul li a{
    display: block;
    text-decoration: none;
    padding: 5px 1em;
    color: purple;
    transition: all .5s;
}
#nav_list ul li a:hover{
    color: navy;
}
#nav_list ul li:hover{
    background-color: lavender;
    margin-left: .5em;
    margin-right: 0;
}

.home{
    background-color: rgba(0,0,0,.6);
}

section{
    width: 75%;
    color: white;
    float: left;
    margin: 2em;
    padding: 1em;
    width: 50%;
}
aside{
    float: right;
    width: 50%;
    max-width: 450px;
    margin-top: 1.5em;
}

article{
    width: 100%;
    background-color: lightcyan;
    padding: 30px 0;
    margin: 30px auto;
    margin-left: 6em;
}
article h4{
    color: black;
    text-align: center;
    font-size: 120%;
    padding: 0 1em;
}

.videowrapper {
    width: 75%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
    box-shadow: 5px 5px 5px 7px pink;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#cornerbtn {
    display: none; /* Hidden by default */
    position: fixed;
    left: 5px;
    bottom: 150px;
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid black;
    outline: none; /* Remove outline */
    font-weight: bold;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: .5em .5em;
    margin: 0 1em 3px 0;
    font-family: 'Nova Square', cursive;
    font-size: 100%;
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
    color: white;
    transition: all .5s;
 }
 #cornerbtn:hover {
    background-color: rgba(0,0,0,1);
    color: lightcyan;
    border: 1px solid lightcyan;
 }
 
footer{
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    padding: 15px 0;
    background-image: linear-gradient(to right, pink , lightcyan);
}
footer p{
    text-align: center;
    font-size: 80%;
}

@media only screen and (max-width: 800px) {
    header{
        text-align: center;
    }
    #logoimg{
        float: none;
        display: block;
        margin: 0 auto;
    }
    #nav_list{
        display: none;
    }
    section{
        float: none;
        width: 100%;
        margin-left: 0;
    }
    article{
        width: 100%;
    }
    .videowrapper{
        width: 100%;
        border: none;
    }
    aside{
        float: none;
        margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1030px) {
    aside{
        padding: 0;
    }
    section{
        margin: 0;
    }
  }